---
version: 2.1

orbs:
  executor-tools: twdps/executor-tools@dev:latest

on-push-main: &on-push-main
  branches:
    only: /main/
  tags:
    ignore: /.*/

on-tag-main: &on-tag-main
  branches:
    ignore: /.*/
  tags:
    only: /.*/

workflows:
  version: 2
  alpine-image-pipeline:
    jobs:
      - executor-tools/dev-release:
          shell: secrethub run -- /bin/sh -eo pipefail
          name: alpine-dev-build
          context: twdps-di
          dockerfile: Dockerfile.alpine
          image: twdps/circleci-remote-docker
          tag: alpine-edge
          cis-docker-image-scan: true
          docker-cve-scan: true
          severity-threshold: low
          snyk-organization: twdps
          bats-test: true
          test-path: test/circleci_remote_docker_alpine.bats
          entry-point: /bin/ash
          container-name: circleci-remote-docker-alpine-edge
          filters: *on-push-main

      - executor-tools/publish:
          shell: secrethub run -- /bin/sh -eo pipefail
          name: alpine-release
          context: twdps-di
          pull-tag: alpine-edge
          tag-annotation: alpine-
          image: twdps/circleci-remote-docker
          release-tag: alpine-stable
          filters: *on-tag-main

  slim-image-pipeline:
    jobs:
      - executor-tools/machine-executor-dev-release:
          name: slim-dev-build
          context: twdps-di
          dockerfile: Dockerfile.slim
          image: twdps/circleci-remote-docker
          tag: slim-edge
          bats-test: true
          docker-cve-scan: true
          severity-threshold: medium
          snyk-organization: twdps
          test-path: test/circleci_remote_docker_slim.bats
          entry-point: /bin/bash
          container-name: circleci-remote-docker-slim-edge
          after-checkout:
            - run:
                name: inject environment variables
                command: |
                  secrethub inject -i secrethub.env -o $BASH_ENV
                  source $BASH_ENV
          filters: *on-push-main

      - executor-tools/publish:
          shell: secrethub run -- /bin/sh -eo pipefail
          name: slim-release
          context: twdps-di
          pull-tag: slim-edge
          tag-annotation: slim-
          image: twdps/circleci-remote-docker
          release-tag: slim-stable
          filters: *on-tag-main

  # builds nightly from .unpinned Dockerfile in order to test the latest base image and installed packages
  di-circleci-infra-image-nightly-build:
    triggers:
      - schedule:
          cron: "0 0 1 * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - executor-tools/dev-release:
          shell: secrethub run -- /bin/sh -eo pipefail
          name: alpine-nightly-build
          context: twdps-di
          dockerfile: Dockerfile.alpine
          image: twdps/circleci-remote-docker
          tag: alpine-nightly
          cis-docker-image-scan: true
          docker-cve-scan: true
          severity-threshold: low
          snyk-organization: twdps
          bats-test: true
          test-path: test/circleci_remote_docker_alpine.bats
          entry-point: /bin/ash
          container-name: circleci-remote-docker-alpine-nightly

      - executor-tools/dev-release:
          name: slim-nightly-build
          context: twdps-di
          dockerfile: Dockerfile.slim
          image: twdps/circleci-remote-docker
          tag: slim-nightly
          bats-test: true
          docker-cve-scan: true
          severity-threshold: high
          snyk-organization: twdps
          test-path: test/circleci_remote_docker_slim.bats
          entry-point: /bin/bash
          container-name: circleci-remote-docker-slim-nightly
          after-checkout:
            - run:
                name: inject environment variables
                command: |
                  secrethub inject -i secrethub.env -o $BASH_ENV
                  source $BASH_ENV
